<%= form_with(model: tree, local: true, class: "needs-validation") do |form| %>
  <% if tree.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(tree.errors.count, "error") %> prohibited this tree from being saved:</h4>
      <ul>
        <% tree.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :x, class: "form-label" %>
    <%= form.text_field :x, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :instagram, class: "form-label" %>
    <%= form.text_field :instagram, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :youtube, class: "form-label" %>
    <%= form.text_field :youtube, class: "form-control" %>
  </div>

  <!-- <div class="mb-3">
    <%= form.label :user_id, class: "form-label" %>
    <%= form.number_field :user_id, class: "form-control" %>
  </div> -->

  <div class="mb-3">
    <%= form.label :style, class: "form-label" %>
    <%= form.text_field :style, class: "form-control" %>
  </div>

  <div class="d-flex justify-content-center">
    <%= form.submit "Save Tree", class: "btn btn-primary" %>
  </div>
<% end %>
