<div id="<%= dom_id @tree %>">
        <div class="card-body">
          <h3 class=" fs-1 mb-4"><%= @tree.name %></h3>

          <div class="d-flex flex-column align-items-center">
            <% if @tree.x.present? %>
              <%= link_to "X", @tree.x, target: "_blank", class: "btn btn-linktree my-2" %>
            <% end %>
            <% if @tree.instagram.present? %>
              <%= link_to "Instagram", @tree.instagram, target: "_blank", class: "btn btn-linktree my-2" %>
            <% end %>
            <% if @tree.youtube.present? %>
              <%= link_to "YouTube", @tree.youtube, target: "_blank", class: "btn btn-linktree my-2" %>
            <% end %>
          </div>
        </div>
</div>